{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php",
        ".css",
        ".jpg",
        ".png",
        ".js"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/_app",
          "README.md",
          "README.html",
          "_app",
          ".gitignore"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/rojkova.mastervision.su/biology-of-consciousness",
      "timeout": 10000,
      "autoUpload": false,
      "connectionType": "ftp",
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1575383798687.9875,
          "ctimeMs": 1576329509903.4392,
          "date": "2020-03-06T08:43:57.475Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1575383829377.9153,
          "ctimeMs": 1576329509905.4392,
          "date": "2020-03-06T08:43:57.777Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1583565974643.0422,
          "ctimeMs": 1583565974643.0422,
          "date": "2020-03-07T07:26:19.511Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1583567787763.1343,
          "ctimeMs": 1583567787763.1343,
          "date": "2020-03-07T08:21:02.567Z"
        },
        {
          "file": "fonts/Gilroy.eot",
          "mtimeMs": 1583403284000,
          "ctimeMs": 1583421364819.6174,
          "date": "2020-03-06T08:43:59.067Z"
        },
        {
          "file": "fonts/Gilroy.svg",
          "mtimeMs": 1583403284000,
          "ctimeMs": 1583421364819.6174,
          "date": "2020-03-06T08:43:59.583Z"
        },
        {
          "file": "fonts/Gilroy.ttf",
          "mtimeMs": 1583403284000,
          "ctimeMs": 1583421364803.9917,
          "date": "2020-03-06T08:43:59.986Z"
        },
        {
          "file": "fonts/Gilroy.woff",
          "mtimeMs": 1583403284000,
          "ctimeMs": 1583421364819.6174,
          "date": "2020-03-06T08:44:00.393Z"
        },
        {
          "file": "fonts/Gilroy.woff2",
          "mtimeMs": 1583403284000,
          "ctimeMs": 1583421364819.6174,
          "date": "2020-03-06T08:44:00.795Z"
        },
        {
          "file": "fonts/GilroyBlack.eot",
          "mtimeMs": 1583403298000,
          "ctimeMs": 1583421377166.671,
          "date": "2020-03-06T08:44:01.249Z"
        },
        {
          "file": "fonts/GilroyBlack.svg",
          "mtimeMs": 1583403298000,
          "ctimeMs": 1583421377151.0413,
          "date": "2020-03-06T08:44:01.760Z"
        },
        {
          "file": "fonts/GilroyBlack.ttf",
          "mtimeMs": 1583403298000,
          "ctimeMs": 1583421377151.0413,
          "date": "2020-03-06T08:44:02.203Z"
        },
        {
          "file": "fonts/GilroyBlack.woff",
          "mtimeMs": 1583403298000,
          "ctimeMs": 1583421377151.0413,
          "date": "2020-03-06T08:44:02.605Z"
        },
        {
          "file": "fonts/GilroyBlack.woff2",
          "mtimeMs": 1583403298000,
          "ctimeMs": 1583421377166.671,
          "date": "2020-03-06T08:44:02.970Z"
        },
        {
          "file": "fonts/GilroyBold.eot",
          "mtimeMs": 1583403308000,
          "ctimeMs": 1583421412155.5012,
          "date": "2020-03-06T08:44:03.396Z"
        },
        {
          "file": "fonts/GilroyBold.svg",
          "mtimeMs": 1583403308000,
          "ctimeMs": 1583421412139.8752,
          "date": "2020-03-06T08:44:03.923Z"
        },
        {
          "file": "fonts/GilroyBold.ttf",
          "mtimeMs": 1583403308000,
          "ctimeMs": 1583421412139.8752,
          "date": "2020-03-06T08:44:04.345Z"
        },
        {
          "file": "fonts/GilroyBold.woff",
          "mtimeMs": 1583403308000,
          "ctimeMs": 1583421412139.8752,
          "date": "2020-03-06T08:44:04.759Z"
        },
        {
          "file": "fonts/GilroyBold.woff2",
          "mtimeMs": 1583403308000,
          "ctimeMs": 1583421412155.5012,
          "date": "2020-03-06T08:44:05.123Z"
        },
        {
          "file": "fonts/GilroyLight.eot",
          "mtimeMs": 1583403318000,
          "ctimeMs": 1583421400904.2065,
          "date": "2020-03-06T08:44:05.518Z"
        },
        {
          "file": "fonts/GilroyLight.svg",
          "mtimeMs": 1583403318000,
          "ctimeMs": 1583421400904.2065,
          "date": "2020-03-06T08:44:06.075Z"
        },
        {
          "file": "fonts/GilroyLight.ttf",
          "mtimeMs": 1583403318000,
          "ctimeMs": 1583421400888.581,
          "date": "2020-03-06T08:44:06.492Z"
        },
        {
          "file": "fonts/GilroyLight.woff",
          "mtimeMs": 1583403318000,
          "ctimeMs": 1583421400904.2065,
          "date": "2020-03-06T08:44:06.899Z"
        },
        {
          "file": "fonts/GilroyLight.woff2",
          "mtimeMs": 1583403318000,
          "ctimeMs": 1583421400904.2065,
          "date": "2020-03-06T08:44:07.290Z"
        },
        {
          "file": "fonts/GilroyMedium.eot",
          "mtimeMs": 1583403344000,
          "ctimeMs": 1583421389277.7585,
          "date": "2020-03-06T08:44:07.711Z"
        },
        {
          "file": "fonts/GilroyMedium.svg",
          "mtimeMs": 1583403344000,
          "ctimeMs": 1583421389277.7585,
          "date": "2020-03-06T08:44:08.283Z"
        },
        {
          "file": "fonts/GilroyMedium.ttf",
          "mtimeMs": 1583403342000,
          "ctimeMs": 1583421389277.7585,
          "date": "2020-03-06T08:44:08.697Z"
        },
        {
          "file": "fonts/GilroyMedium.woff",
          "mtimeMs": 1583403344000,
          "ctimeMs": 1583421389277.7585,
          "date": "2020-03-06T08:44:09.082Z"
        },
        {
          "file": "fonts/GilroyMedium.woff2",
          "mtimeMs": 1583403344000,
          "ctimeMs": 1583421389293.3877,
          "date": "2020-03-06T08:44:09.448Z"
        },
        {
          "file": "img/backs/form-bg.jpg",
          "mtimeMs": 1583425429477.5188,
          "ctimeMs": 1583425429477.5188,
          "date": "2020-03-06T08:44:09.862Z"
        },
        {
          "file": "img/backs/last-bg.png",
          "mtimeMs": 1583425435139.2942,
          "ctimeMs": 1583425435141.2988,
          "date": "2020-03-06T08:44:10.346Z"
        },
        {
          "file": "img/backs/main-bg.jpg",
          "mtimeMs": 1583425441583.913,
          "ctimeMs": 1583425441583.913,
          "date": "2020-03-06T08:44:10.830Z"
        },
        {
          "file": "img/images/lets-img.png",
          "mtimeMs": 1583425465533.5933,
          "ctimeMs": 1583425465576.622,
          "date": "2020-03-06T08:44:12.553Z"
        },
        {
          "file": "img/images/logo.png",
          "mtimeMs": 1583425470057.796,
          "ctimeMs": 1583425470074.8447,
          "date": "2020-03-06T08:44:12.912Z"
        },
        {
          "file": "img/images/tatyana.jpg",
          "mtimeMs": 1583425491099.711,
          "ctimeMs": 1583425491099.711,
          "date": "2020-03-06T08:44:13.792Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1583483993226.7869,
          "ctimeMs": 1583483993226.7869,
          "date": "2020-03-06T08:44:14.230Z"
        },
        {
          "file": "img/images/day-1-img.jpg",
          "mtimeMs": 1583425448684.1848,
          "ctimeMs": 1583425448684.1848,
          "date": "2020-03-06T08:44:11.275Z"
        },
        {
          "file": "img/images/day-2-img.jpg",
          "mtimeMs": 1583425454386.569,
          "ctimeMs": 1583425454386.569,
          "date": "2020-03-06T08:44:11.717Z"
        },
        {
          "file": "img/images/day-3-img.jpg",
          "mtimeMs": 1583425459867.1338,
          "ctimeMs": 1583425459867.1338,
          "date": "2020-03-06T08:44:12.140Z"
        },
        {
          "file": "img/images/reasons-img.png",
          "mtimeMs": 1583425666709.396,
          "ctimeMs": 1583425666709.396,
          "date": "2020-03-06T08:44:13.339Z"
        },
        {
          "file": "css/ie.min.css",
          "mtimeMs": 1583507468823.3635,
          "ctimeMs": 1583507468823.3635,
          "date": "2020-03-06T15:11:12.798Z"
        },
        {
          "file": "bots/index.html",
          "mtimeMs": 1583571136065.2573,
          "ctimeMs": 1583571136065.2573,
          "date": "2020-03-07T08:52:24.860Z"
        },
        {
          "file": "confirm/index.html",
          "mtimeMs": 1583560346604.9338,
          "ctimeMs": 1583560346604.9338,
          "date": "2020-03-07T06:05:55.567Z"
        },
        {
          "file": "css/promo-ie.min.css",
          "mtimeMs": 1583565322724.4358,
          "ctimeMs": 1583565322724.4358,
          "date": "2020-03-07T07:17:31.162Z"
        },
        {
          "file": "css/promo.min.css",
          "mtimeMs": 1583567787650.0605,
          "ctimeMs": 1583567787650.0605,
          "date": "2020-03-07T08:21:02.204Z"
        },
        {
          "file": "img/flags.png",
          "mtimeMs": 1565863818091.5166,
          "ctimeMs": 1565863818091.5166,
          "date": "2020-03-07T05:03:35.785Z"
        },
        {
          "file": "img/flags@2x.png",
          "mtimeMs": 1565863818114.5283,
          "ctimeMs": 1565863818114.5283,
          "date": "2020-03-07T05:03:36.285Z"
        },
        {
          "file": "img/icons/ok.png",
          "mtimeMs": 1575136380486.6216,
          "ctimeMs": 1575136380486.6216,
          "date": "2020-03-07T05:03:36.631Z"
        },
        {
          "file": "img/icons/soc-buttons.jpg",
          "mtimeMs": 1580131469978.9263,
          "ctimeMs": 1580131469978.9263,
          "date": "2020-03-07T05:03:36.999Z"
        },
        {
          "file": "img/icons/tg.png",
          "mtimeMs": 1575136388342.6985,
          "ctimeMs": 1575136388342.6985,
          "date": "2020-03-07T05:03:37.375Z"
        },
        {
          "file": "img/icons/vk.png",
          "mtimeMs": 1575136393724.0266,
          "ctimeMs": 1575136393724.0266,
          "date": "2020-03-07T05:03:37.738Z"
        },
        {
          "file": "js/promo.min.js",
          "mtimeMs": 1583555636555.0232,
          "ctimeMs": 1583555636555.0232,
          "date": "2020-03-07T05:03:38.298Z"
        },
        {
          "file": "promo/index.html",
          "mtimeMs": 1583557121707.8257,
          "ctimeMs": 1583557121707.8257,
          "date": "2020-03-07T05:03:38.745Z"
        },
        {
          "file": "thanks/index.html",
          "mtimeMs": 1583571136045.2466,
          "ctimeMs": 1583571136045.2466,
          "date": "2020-03-07T08:52:25.182Z"
        },
        {
          "file": "css/confirm-ie.min.css",
          "mtimeMs": 1583561610233.5906,
          "ctimeMs": 1583561610233.5906,
          "date": "2020-03-07T06:13:33.734Z"
        },
        {
          "file": "css/confirm.min.css",
          "mtimeMs": 1583564763054.4995,
          "ctimeMs": 1583564763054.4995,
          "date": "2020-03-07T07:06:10.595Z"
        },
        {
          "file": "fonts/Muller.eot",
          "mtimeMs": 1583541238000,
          "ctimeMs": 1583559339602.5742,
          "date": "2020-03-07T06:05:57.654Z"
        },
        {
          "file": "fonts/Muller.svg",
          "mtimeMs": 1583541236000,
          "ctimeMs": 1583559351673.9968,
          "date": "2020-03-07T06:05:58.271Z"
        },
        {
          "file": "fonts/Muller.ttf",
          "mtimeMs": 1583541236000,
          "ctimeMs": 1583559354312.333,
          "date": "2020-03-07T06:05:58.834Z"
        },
        {
          "file": "fonts/Muller.woff",
          "mtimeMs": 1583541236000,
          "ctimeMs": 1583559357136.4053,
          "date": "2020-03-07T06:05:59.324Z"
        },
        {
          "file": "fonts/Muller.woff2",
          "mtimeMs": 1583541238000,
          "ctimeMs": 1583559339604.576,
          "date": "2020-03-07T06:05:59.757Z"
        },
        {
          "file": "fonts/MullerBold.eot",
          "mtimeMs": 1583541238000,
          "ctimeMs": 1583559317569.5266,
          "date": "2020-03-07T06:06:00.240Z"
        },
        {
          "file": "fonts/MullerBold.svg",
          "mtimeMs": 1583541236000,
          "ctimeMs": 1583559323243.0266,
          "date": "2020-03-07T06:06:00.860Z"
        },
        {
          "file": "fonts/MullerBold.ttf",
          "mtimeMs": 1583541236000,
          "ctimeMs": 1583559325075.4675,
          "date": "2020-03-07T06:06:01.362Z"
        },
        {
          "file": "fonts/MullerBold.woff",
          "mtimeMs": 1583541236000,
          "ctimeMs": 1583559326653.0327,
          "date": "2020-03-07T06:06:01.822Z"
        },
        {
          "file": "fonts/MullerBold.woff2",
          "mtimeMs": 1583541236000,
          "ctimeMs": 1583559317572.5288,
          "date": "2020-03-07T06:06:02.255Z"
        },
        {
          "file": "fonts/MullerItalic.eot",
          "mtimeMs": 1583541238000,
          "ctimeMs": 1583559284970.7249,
          "date": "2020-03-07T06:06:02.751Z"
        },
        {
          "file": "fonts/MullerItalic.svg",
          "mtimeMs": 1583541236000,
          "ctimeMs": 1583559293250.338,
          "date": "2020-03-07T06:06:03.354Z"
        },
        {
          "file": "fonts/MullerItalic.ttf",
          "mtimeMs": 1583541236000,
          "ctimeMs": 1583559297450.0828,
          "date": "2020-03-07T06:06:03.851Z"
        },
        {
          "file": "fonts/MullerItalic.woff",
          "mtimeMs": 1583541236000,
          "ctimeMs": 1583559301264.5098,
          "date": "2020-03-07T06:06:04.274Z"
        },
        {
          "file": "fonts/MullerItalic.woff2",
          "mtimeMs": 1583541238000,
          "ctimeMs": 1583559284972.726,
          "date": "2020-03-07T06:06:04.708Z"
        },
        {
          "file": "fonts/arcive.zip",
          "mtimeMs": 1583559255143.4126,
          "ctimeMs": 1583559266923.8801,
          "date": "2020-03-07T06:06:05.378Z"
        },
        {
          "file": "img/confirm/confirm-img.png",
          "mtimeMs": 1583560678199.4304,
          "ctimeMs": 1583560678203.433,
          "date": "2020-03-07T06:06:05.849Z"
        },
        {
          "file": "img/confirm/confirm-logo.png",
          "mtimeMs": 1583560683802.152,
          "ctimeMs": 1583560683817.1619,
          "date": "2020-03-07T06:06:06.247Z"
        },
        {
          "file": "img/confirm/gmail.png",
          "mtimeMs": 1583560688781.459,
          "ctimeMs": 1583560688783.4607,
          "date": "2020-03-07T06:06:06.623Z"
        },
        {
          "file": "img/confirm/mailru.png",
          "mtimeMs": 1583560692773.1108,
          "ctimeMs": 1583560692776.113,
          "date": "2020-03-07T06:06:07.006Z"
        },
        {
          "file": "img/confirm/rambler.png",
          "mtimeMs": 1583560696989.911,
          "ctimeMs": 1583560696991.913,
          "date": "2020-03-07T06:06:07.386Z"
        },
        {
          "file": "img/confirm/title-bg.png",
          "mtimeMs": 1583560701842.1335,
          "ctimeMs": 1583560701844.1355,
          "date": "2020-03-07T06:06:07.816Z"
        },
        {
          "file": "img/confirm/yandex.png",
          "mtimeMs": 1583560706978.5457,
          "ctimeMs": 1583560706987.5527,
          "date": "2020-03-07T06:06:08.199Z"
        },
        {
          "file": "js/confirm.min.js",
          "mtimeMs": 1583561573131.7773,
          "ctimeMs": 1583561573131.7773,
          "date": "2020-03-07T06:12:56.628Z"
        },
        {
          "file": "js/thanks.min.js",
          "mtimeMs": 1583565392648.2852,
          "ctimeMs": 1583565392648.2852,
          "date": "2020-03-07T07:17:31.508Z"
        },
        {
          "file": "bonus/index.html",
          "mtimeMs": 1583568172374.5674,
          "ctimeMs": 1583568172374.5674,
          "date": "2020-03-07T08:21:01.124Z"
        },
        {
          "file": "css/bonus-ie.min.css",
          "mtimeMs": 1583569860244.5,
          "ctimeMs": 1583569860244.5,
          "date": "2020-03-07T08:31:06.634Z"
        },
        {
          "file": "css/bonus.min.css",
          "mtimeMs": 1583569228508.217,
          "ctimeMs": 1583569228508.217,
          "date": "2020-03-07T08:21:01.814Z"
        },
        {
          "file": "home-task-1/index.html",
          "mtimeMs": 1583568184427.8958,
          "ctimeMs": 1583568184427.8958,
          "date": "2020-03-07T08:21:02.894Z"
        },
        {
          "file": "home-task-2/index.html",
          "mtimeMs": 1583568184433.8987,
          "ctimeMs": 1583568184433.8987,
          "date": "2020-03-07T08:21:03.239Z"
        },
        {
          "file": "home-task-3/index.html",
          "mtimeMs": 1583568184267.7883,
          "ctimeMs": 1583568184267.7883,
          "date": "2020-03-07T08:21:03.593Z"
        },
        {
          "file": "js/bonus.min.js",
          "mtimeMs": 1583567050937.8284,
          "ctimeMs": 1583567050937.8284,
          "date": "2020-03-07T08:21:03.948Z"
        },
        {
          "file": "remind/index.html",
          "mtimeMs": 1583569700208.7373,
          "ctimeMs": 1583569700208.7373,
          "date": "2020-03-07T08:28:40.945Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead",
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": false,
        "sourceMap": false,
        "linenos": true
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/bonus.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\bonus.min.js"
        }
      },
      {
        "file": "_app/_js/confirm.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\confirm.min.js"
        }
      },
      {
        "file": "_app/_js/promo.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\promo.min.js"
        }
      },
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\scripts.min.js"
        }
      },
      {
        "file": "_app/_js/thanks.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\thanks.min.js"
        }
      },
      {
        "file": "_app/bonus.pug",
        "config": {
          "customOutput": "bonus\\index.html"
        }
      },
      {
        "file": "_app/bots.pug",
        "config": {
          "customOutput": "bots\\index.html"
        }
      },
      {
        "file": "_app/confirm.pug",
        "config": {
          "customOutput": "confirm\\index.html"
        }
      },
      {
        "file": "_app/home-task-1.pug",
        "config": {
          "customOutput": "home-task-1\\index.html"
        }
      },
      {
        "file": "_app/home-task-2.pug",
        "config": {
          "customOutput": "home-task-2\\index.html"
        }
      },
      {
        "file": "_app/home-task-3.pug",
        "config": {
          "customOutput": "home-task-3\\index.html"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/promo.pug",
        "config": {
          "customOutput": "promo\\index.html"
        }
      },
      {
        "file": "_app/remind.pug",
        "config": {
          "customOutput": "remind\\index.html"
        }
      },
      {
        "file": "_app/styl/bonus-ie.min.styl",
        "config": {
          "customOutput": "css\\bonus-ie.min.css"
        }
      },
      {
        "file": "_app/styl/bonus.min.styl",
        "config": {
          "customOutput": "css\\bonus.min.css"
        }
      },
      {
        "file": "_app/styl/confirm-ie.min.styl",
        "config": {
          "customOutput": "css\\confirm-ie.min.css"
        }
      },
      {
        "file": "_app/styl/confirm.min.styl",
        "config": {
          "customOutput": "css\\confirm.min.css"
        }
      },
      {
        "file": "_app/styl/ie.min.styl",
        "config": {
          "customOutput": "css\\ie.min.css"
        }
      },
      {
        "file": "_app/styl/promo-ie.min.styl",
        "config": {
          "customOutput": "css\\promo-ie.min.css"
        }
      },
      {
        "file": "_app/styl/promo.min.styl",
        "config": {
          "customOutput": "css\\promo.min.css"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.min.css"
        }
      },
      {
        "file": "_app/thanks.pug",
        "config": {
          "customOutput": "thanks\\index.html"
        }
      },
      {
        "file": "img/backs/form-bg.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 27192,
          "optimized": true
        }
      },
      {
        "file": "img/backs/last-bg.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 764857,
          "optimized": true
        }
      },
      {
        "file": "img/backs/main-bg.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 209945,
          "optimized": true
        }
      },
      {
        "file": "img/confirm/confirm-img.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 94020,
          "optimized": true
        }
      },
      {
        "file": "img/confirm/confirm-logo.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 4646,
          "optimized": true
        }
      },
      {
        "file": "img/confirm/gmail.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 1994,
          "optimized": true
        }
      },
      {
        "file": "img/confirm/mailru.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 922,
          "optimized": true
        }
      },
      {
        "file": "img/confirm/rambler.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 2000,
          "optimized": true
        }
      },
      {
        "file": "img/confirm/title-bg.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 77437,
          "optimized": true
        }
      },
      {
        "file": "img/confirm/yandex.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 930,
          "optimized": true
        }
      },
      {
        "file": "img/flags.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 70857
        }
      },
      {
        "file": "img/flags@2x.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 174369
        }
      },
      {
        "file": "img/images/confirm-img.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 306027,
          "optimized": true
        }
      },
      {
        "file": "img/images/day-1-img.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 37728,
          "optimized": true
        }
      },
      {
        "file": "img/images/day-2-img.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 47354,
          "optimized": true
        }
      },
      {
        "file": "img/images/day-3-img.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 44908,
          "optimized": true
        }
      },
      {
        "file": "img/images/gmail.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 3226,
          "optimized": true
        }
      },
      {
        "file": "img/images/lets-img.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 128649,
          "optimized": true
        }
      },
      {
        "file": "img/images/logo.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 4965,
          "optimized": true
        }
      },
      {
        "file": "img/images/mailru.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 2882,
          "optimized": true
        }
      },
      {
        "file": "img/images/rambler.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 2999,
          "optimized": true
        }
      },
      {
        "file": "img/images/reasons-img.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 75044,
          "optimized": true
        }
      },
      {
        "file": "img/images/reasons-img.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 189234
        }
      },
      {
        "file": "img/images/tatyana.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 61712,
          "optimized": true
        }
      },
      {
        "file": "img/images/yandex.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 1609,
          "optimized": true
        }
      }
    ]
  }
}
