#advantages
	padding 50px 0 0
.advantage-item
	padding 220px 20px 20px
	text-align: center
	width 100%
	max-width 380px
	margin 0 auto 20px
	background-repeat no-repeat
	background-position: top center
	background-size: auto 200px
	&-1
		background-image url('../img/images/advant-img-1.jpg')
	&-2
		background-image url(../img/images/advant-img-2.jpg)
	&-3
		background-image url(../img/images/advant-img-3.jpg)
	&-4
		background-image url(../img/images/advant-img-4.jpg)
	&-5
		background-image url(../img/images/advant-img-5.jpg)
	&-6
		background-image url(../img/images/advant-img-6.jpg)
	&-7
		background-image url(../img/images/advant-img-7.jpg)
.button-advantages
	margin-top: 10px