.modal-backdrop.in
	opacity .8
.modal-content
	border-radius: 0
	border: 3px solid #00116e;
.modal-dialog
	width 684px
	.module-list
		width 95%
button.close
	position: absolute
	font-size: 24px
	text-align: center
	background-color transparent
	top 10px
	right 10px
	font-family: GL
	border-radius: 50px
	border: 1px solid MB
	color MB
	opacity 1
	width 26px
	height 26px
	padding 0
	z-index 99
	line-height: 26px
	transition: all .3s ease
	&:hover
		opacity .5
		transform: rotate(45deg)