G = 'Gilroy', sans-serif;
GBk = 'GilroyBlack', sans-serif;
GBd = 'GilroyBold', sans-serif;
GL = 'GilroyLight', sans-serif;
GM = 'GilroyMedium', sans-serif;
MB = #00116E

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy.eot');
	src: url('../fonts/Gilroy.eot') format('embedded-opentype'),
		 url('../fonts/Gilroy.woff2') format('woff2'),
		 url('../fonts/Gilroy.woff') format('woff'),
		 url('../fonts/Gilroy.ttf') format('truetype'),
		 url('../fonts/Gilroy.svg#Gilroy') format('svg');
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'GilroyBlack';
    src: url('../fonts/GilroyBlack.eot');
    src: url('../fonts/GilroyBlack.eot') format('embedded-opentype'),
         url('../fonts/GilroyBlack.woff2') format('woff2'),
         url('../fonts/GilroyBlack.woff') format('woff'),
         url('../fonts/GilroyBlack.ttf') format('truetype'),
         url('../fonts/GilroyBlack.svg#GilroyBlack') format('svg');
	font-display: fallback;
	font-weight: 900;
	font-style: normal;
}
@font-face {
    font-family: 'GilroyBold';
    src: url('../fonts/GilroyBold.eot');
    src: url('../fonts/GilroyBold.eot') format('embedded-opentype'),
         url('../fonts/GilroyBold.woff2') format('woff2'),
         url('../fonts/GilroyBold.woff') format('woff'),
         url('../fonts/GilroyBold.ttf') format('truetype'),
         url('../fonts/GilroyBold.svg#GilroyBold') format('svg');
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
}
@font-face {
    font-family: 'GilroyLight';
    src: url('../fonts/GilroyLight.eot');
    src: url('../fonts/GilroyLight.eot') format('embedded-opentype'),
         url('../fonts/GilroyLight.woff2') format('woff2'),
         url('../fonts/GilroyLight.woff') format('woff'),
         url('../fonts/GilroyLight.ttf') format('truetype'),
         url('../fonts/GilroyLight.svg#GilroyLight') format('svg');
	font-display: fallback;
	font-weight: 100;
	font-style: normal;
}
@font-face {
    font-family: 'GilroyMedium';
    src: url('../fonts/GilroyMedium.eot');
    src: url('../fonts/GilroyMedium.eot') format('embedded-opentype'),
         url('../fonts/GilroyMedium.woff2') format('woff2'),
         url('../fonts/GilroyMedium.woff') format('woff'),
         url('../fonts/GilroyMedium.ttf') format('truetype'),
         url('../fonts/GilroyMedium.svg#GilroyMedium') format('svg');
	font-display: fallback;
	font-weight: 600;
	font-style: normal;
}
