header
	padding 15px 0
	overflow hidden
	margin-bottom: 15px
.header-logo
	width 140px
	height 62px
	float left
	background-image url(../img/images/logo.png)
	background-repeat no-repeat
	background-position: center
	background-size contain
.contacts
	float: right
	line-height: 46px
	text-align: right
.contact
	color #fff
	display: inline-block
	margin-left: 23px
	&:focus
		color #fff
		text-decoration: none
	&:hover
		color #fff
		text-decoration: underline
	&&-phone
		margin-left: 0
	
