.general-title
.main-title
.main-subtitle
.last-title
.last-subtitle
.last-text
.modal-main-title
	font-weight: 900
.mail-container-title
.alert-message
.day-title
.day-bonus
.lets-item-text span
.author-title
.author-text:last-of-type
.modal-title
.politics-modal-content .modal-title
	font-weight: bold
.reason-title
	font-weight: 600
.day-title span
footer
button.close
.politics-modal-content .modal-title small
	font-weight: 100
.day-bonus span
	font-weight: normal