@import '0.fonts'

@import '../_css/bootstrap.min.css'
@import '../_css/intlTelInput.min.css'

@import '0.base'

@import '0.header'
@import 'promo/1.main'
@import 'bonus/2.footer'
@import 'main/10.politics'
@import 'promo/2.medias'