@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	.contact
	.politics-modal-content p
		font-size: 18px
	.main-title
	.main-subtitle
	.main-subtitle.main-subtitle-bots
		margin-top: 100px
	.mail-container
		margin-bottom: 50px
@media screen and (max-width 1199px)
	.main-title
	.main-subtitle
	.main-subtitle.main-subtitle-bots
		margin-top: 40px
@media screen and (max-width 767px)
	.header-logo
		display block
		width 100px
		height 44px
		float: none
		margin 0 auto 5px
	.contacts
		line-height: 1
		text-align: center
		float: none
	.modal-dialog
		margin 10px
		width auto
@media screen and (max-width 613px)
	.checking
		max-width 350px
	.checking .check-label
		line-height: 1.4
@media screen and (max-width 485px)
	#main
		padding 0 0 40px
	header
		margin-bottom: 10px
	.header-logo
		width 70px
		height 31px
	.main-subtitle, .main-subtitle.main-subtitle-bots
		margin-top: 20px
		font-size: 18px
	.main-title
		margin-top: 20px
		font-size: 22px
		line-height: 1.2
	.main-title span
		font-size: 26px
	.main-subtitle span
		font-size: 24px
	.bots-link
		width 50%
	footer
		padding 15px 0
		font-size: 12px
		h5
			font-size: 16px
		p
			font-size: 12px
	.soc-buttons a
		margin 10px 5px
@media screen and (max-width 385px)
	header
		padding 10px 0
		margin-bottom: 0
	.contact
		display: block
		margin-left: 0
		font-size: 14px
	.main-title
		font-size: 20px
		span
			font-size: 24px
	.mail-container
		padding 20px 10px
	.politics-modal-content .modal-title
		font-size: 16px
	.main-subtitle span
		font-size: 22px
	.bots-link
		font-size: 12px