-var head_url = 'https://rojkova.mastervision.su/biology-of-consciousness/home-task-1/';
-var head_title = 'Переживания';
-var head_description = '1 домашнее задание от Татьяны Рожковой';
-var video = '0qlJIRy_xPc';
-var styles = '../css/bonus.min.css';
-var fb_content = '2030481470529055'
-var fav_ico = '../favicon.ico'
-var fav_png = '../favicon.png'
-var date= '26 марта, в 19:00(мск)'

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_fb_scripts
	body
		include pug/scripts/body_top_fb_scripts
		include pug/ht/1.main.pug
		include pug/ht/2.feedback.pug
		include pug/bonus/3.footer.pug
		script(src="../js/bonus.min.js")
		include pug/scripts/body_bottom_scripts