-var head_url = 'https://rojkova.mastervision.su/biology-of-consciousness/remind/';
-var head_title = 'Вы зарегистрированы на мастер-класс «Биология сознания»';
-var head_description = 'Не пропустите вебинар, спланируйте свои дела так, чтобы ничего вас не отвлекало';
-var styles = '../css/bonus.min.css';
-var fav_ico = '../favicon.ico'
-var fav_png = '../favicon.png'

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		section#main.remind
			.container
				include pug/0.header.pug
				h1.main-title.remind-main-title Вы зарегистрированы на мастер-класс
					br
					a(href="https://rojkova.mastervision.su/biology-of-consciousness/" target="_blank") «Биология сознания»
				h2.main-subtitle.remind-main-subtitle Не пропустите вебинар, спланируйте свои дела так, чтобы ничего вас не отвлекало
		include pug/bonus/3.footer.pug
		script(src="../js/bonus.min.js")
		include pug/scripts/body_bottom_scripts