@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	.contact
		font-size: 18px
	.remind-main-title
		margin-top: 100px
@media screen and (max-width 1199px)
	header
		padding 15px 0
	.header-logo
		width 100px
		height 44px
		float: none
		margin 0 auto 3px
		display block
	.contacts
		text-align: center
		float: none
	.contact
		line-height: 1.3
		background-size: 30px
	.contact.contact-email
	.contact.contact-skype
	.contact.contact-tel
		padding-left: 30px
	.about-item
		background-position: bottom right -350px
		background-size: auto
@media screen and (max-width 991px)
	.remind-main-title
		margin-top: 20px
	.mail-img
		width 100%
	.about-item
		padding 30px
		background-image: none
@media screen and (max-width 485px)
	#main
		padding 0 0 40px
	.header-logo
		width 60px
		height 31px
	.contact
		font-size: 12px
		line-height: 16px
		background-size contain
	.contact.contact-email
	.contact.contact-skype
	.contact.contact-tel
		padding-left: 17px
	#confirm
		padding-top: 10px
	.main-title
		font-size: 22px
	.main-title.main-title-confirm
		font-size: 22px
		margin-bottom: 15px
	.remind-main-title
		margin-bottom: 20px
	.main-subtitle
	.remind-main-subtitle
		font-size: 20px
	.main-subtitle
		margin 10px 0 15px
	.main-title.main-title-confirm + h2
		font-size: 20px
	.main-subtitle.main-subtitle-confirm
		font-size: 18px
		margin 15px 0
	.mail-cell
		width 50%
	.mail-img
		height 100px
		width auto
	.confirm-text
		font-size: 18px
	footer
		padding 15px 0
		font-size: 12px
		h5
			font-size: 16px
		p
			font-size: 12px
	.soc-buttons a
		margin 10px 5px
	.description
		margin-top: 30px
		&-text
			font-size: 18px
			margin-bottom: 10px
	#about
		padding 40px 0
	.about-item-title
		font-size: 22px
		margin-bottom: 20px
	.about-item
		padding 20px
		margin-bottom: 30px
	.about-item-list
		margin-left: 10px
@media screen and (max-width 385px)
	.remind-main-title
	.main-title.main-title-confirm
		font-size: 20px
	.remind-main-subtitle
	.about-item-title
		font-size: 18px
	.mail-img
		height 60px
	.description
	.about-item
		padding 15px
	.about-item-list
		margin-left: 15px