@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	.contact
		font-size: 18px
	.remind-main-title
	.pre
		margin-top: 100px
@media screen and (max-width 1199px)
	#feedback
		min-height calc(100vh - 780px)
@media screen and (max-width 991px)
	.remind-main-title
		margin-top: 20px
@media screen and (max-width 767px)
	.header-logo
		display block
		width 100px
		height 44px
		float: none
		margin 0 auto 5px
	.contacts
		line-height: 1
		text-align: center
		float: none
	#vk
		margin-bottom: 25px
@media screen and (max-width 485px)
	#main
		padding 0 0 40px
	.header-logo
		width 60px
		height 31px
	.main-title
		font-size: 26px
	.remind-main-title
		margin-bottom: 20px
	.main-subtitle
	.remind-main-subtitle
		font-size: 20px
	#feedback
		padding 40px 0
	.general-title
		font-size: 20px
		margin-bottom: 30px
	footer
		padding 15px 0
		font-size: 12px
		h5
			font-size: 16px
		p
			font-size: 12px
	.soc-buttons a
		margin 10px 5px
@media screen and (max-width 385px)
	header
		padding 10px 0
		margin-bottom: 0
	.contact
		display: block
		margin-left: 0
		font-size: 14px
	.pre
		font-size: 16px
		line-height: 1
	.main-title
	.remind-main-title
		font-size: 22px
		margin-bottom: 10px
	.remind-main-subtitle
	.main-info
	.general-title
		line-height: 1.1
		font-size: 18px
	#feedback
		padding 30px 0