.modal-backdrop.in
	opacity .8
.modal-content
	border-radius: 0
	border: 0
.modal-dialog
	width 684px
button.close
	position: absolute
	font-size: 24px
	text-align: center
	background-color transparent
	top 10px
	right 10px
	font-family: GL
	border-radius: 50px
	border: 1px solid MB
	color MB
	opacity 1
	width 26px
	height 26px
	padding 0
	z-index 99
	line-height: 26px
	transition: all .3s ease
	&:hover
		opacity .5
		transform: rotate(45deg)
.modal-title
	text-align: center
	font-size: 20px
	text-transform: uppercase
	width 88%
	margin 0 auto 20px
.politics-modal-content
	.modal-title
		font-family: GBd
		font-size: 28px
		width 88%
		line-height: 1
		margin 0
		text-align: left 
		small
			font-family:  GL
			font-size: initial
			text-transform: none
	p
		margin-bottom: 10px
		font-size: 16px
		&:last-of-type
			margin-bottom: 0