@media screen and (min-width 2295px)
	body
	.day-bonus
		font-size: 20px
	.container
		width 1400px
	.main-title
		max-width 500px
	.general-title
		font-size: 28px
	.day-title
		font-size: 24px
	.button
		max-width 300px
	.lets-item-text span
		font-size: 22px
	.form-main
		max-width 630px
	.alert-message
		font-size: 18px
@media screen and (max-width 1199px)
	.lets-img
	.reasons-img
		width 100%
@media screen and (max-width 991px)
	#main
		background-position 0 0
		text-align: center
		padding  0 0 50px
	.main-title
		margin 20px 0
	.video-wrapper-main
		max-width 650px
		margin: 20px auto 25px
	.mail-container
		position: static
	#for
		padding 50px 0 0
	.button-for
	.author-title-1
		margin-top: 0
	.reasons-img
	.lets-img
		margin-top: 100px
	.button-lets
		margin-top: 10px
	.author-img
		height 270px
	.last-title
		font-size: 40px
	.last-subtitle
		font-size: 26px
		margin 30px 0
@media screen and (max-width 767px)
	.header-logo
		display block
		width 100px
		height 44px
		float: none
		margin 0 auto 5px
	.contacts
		line-height: 1
		text-align: center
		float: none
	.main-subtitle
		margin-bottom 30px
	.input-mail-main
		display block
		margin 0 auto 10px
		float: none
	.button-form-main
		float none
		max-width 300px
	.checking
		max-width 500px
	.modal-dialog
		width auto
		margin 10px
	.for-list li
		margin-bottom 20px
	.button-for
		margin-top: 30px
	.reason
	.lets-item
		text-align: center
	.lets-img, .reasons-img
		display none
	.day
		max-width 100%
		background-position: top left
	.author-img
		height 400px
	.author-list
		margin-bottom: 30px
@media screen and (max-width 610px)
	.modal-col
		width 100%
		float none
		text-align: center
		padding 20px 10px
	.modal-col:first-of-type
		background-position: center bottom
		padding-top: 30px
	.modal-main-title
		font-size: 24px
	.modal-pre
		margin 10px 0 15px
	.modal-main-info-text.modal-main-info-text:last-of-type
		margin-top: 0
	.mail-modal-content button.close
		color #fff
		text-shadow: none
		border-color: #fff
	.checking
		max-width 380px
		& .check-label
			line-height: 18px
	.modal-title
		margin-bottom: 10px
	.politics-modal-content .modal-title
		font-size: 24px
@media screen and (max-width 485px)
	#main
		padding 0 0 40px
	header
		margin-bottom: 10px
	.header-logo
		width 70px
		height 31px
	.pre
		font-size: 16px
	.main-title
		margin 15px 0
		font-size: 40px
	.main-subtitle
		font-size: 24px
		margin-bottom: 20px
	.mail-container-title
		font-size: 18px
		line-height: 1.1
	.general-title
		font-size: 23px
		margin-bottom: 30px
	.for-list li
	.author-text
		margin-bottom: 10px
	.politics-modal-content .modal-title
		font-size: 16px
	.button-for
		margin-top: 20px
	.reason
	.lets-item
		margin-bottom: 20px
	.day
		background-position: top center
	.day-title
		padding 20px 0 0 20px
		font-size: 18px
		margin-bottom: 20px
	.day-list
		margin 0 0 20px 20px
	.author-img
		height 360px
		margin-bottom: 20px
		background-position: top center
	.author-title
		font-size: 22px
		margin-bottom: 20px
		&-1
			padding 20px 0 0 20px
	.author-list
		margin 0 0 30px 20px
	#author
		padding 50px 0 30px
	#last
		padding 40px 0
	.last-title
		font-size: 30px
	.last-subtitle
		font-size: 22px
		margin 15px 0
	.last-text
		font-size: 18px
		margin-bottom: 30px
	footer
		padding 10px 0
		font-size: 12px
	.modal-main-title
	.modal-title
		font-size 20px
	.modal-pre
		margin 10px 0
		font-size: 16px
@media screen and (max-width 385px)
	.main-title
		font-size: 30px
	.main-subtitle
		font-size: 20px
	#for
		padding 30px 0 0
	.general-title
	.author-title
		font-size: 20px
		margin-bottom: 20px
	#reasons
		padding 40px 0 0
	.button-reasons
		margin-top: 0
	#author
		padding 30px 0
	#last
		padding 30px 0
	.last-title
		font-size: 24px
	.last-subtitle
	.modal-main-title, .modal-title
		font-size: 18px
	.last-text
		font-size: 16px