#lets
	padding 50px 0 0
.lets-item
	margin-bottom: 30px
	// position relative
	// &:before
	// 	content: ''
	// 	display block
	// 	position: absolute
	// 	height 2px
	// 	border-top: 2px dashed MB
	// 	bottom -16px
	// &:after
	// 	content '+'
	// 	display: block
	// 	position: absolute
	// 	border-radius: 50px
	// 	background-color: MB
	// 	font-size: 18px
	// 	font-family: GBd
	// 	line-height: 18px
	// 	width 30px
	// 	height 30px
	// 	line-height 30px
	// 	color #ffffff
	// 	text-align: center
	// 	bottom -30px
	&-1
		text-align: right
	// 	&:before
	// 		right -150px
	// 		width 220px
	// 	&:after
	// 		right -150px
	&-2
		text-align: right
	// 	&:before
	// 		right -120px
	// 		width 189px
	// 	&:after
	// 		right -120px
	&-3
		text-align: right
	// 	&:before
	// 		right -105px
	// 		width 173px
	// 	&:after
	// 		right -105px
	&-4
		text-align: right
	// 	&:before
	// 		right -100px
	// 		width 167px
	// 	&:after
	// 		right -100px
	// &-5
	// 	&:before
	// 		left -100px
	// 		width 167px
	// 	&:after
	// 		left -100px
	// &-6
	// 	&:before
	// 		left -100px
	// 		width 167px
	// 	&:after
	// 		left -100px
	// &-7
	// 	&:before
	// 		left -100px
	// 		width 167px
	// 	&:after
	// 		left -100px
	// &-8
	// 	&:before
	// 		left -100px
	// 		width 167px
	// 	&:after
	// 		left -100px
	// &-9
	// 	&:before
	// 		left -100px
	// 		width 167px
	// 	&:after
	// 		left -100px
	&-text
		span
			font-size: 18px
			display: block
			font-family: GBd
.lets-img
	display: block
	margin 0 auto
	position relative
	z-index -1
.button-lets
	margin-top: 20px