@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy.eot');
    src: url('fonts/Gilroy.eot') format('embedded-opentype'),
         url('fonts/Gilroy.woff2') format('woff2'),
         url('fonts/Gilroy.woff') format('woff'),
         url('fonts/Gilroy.ttf') format('truetype'),
         url('fonts/Gilroy.svg#Gilroy') format('svg');
}
