.bots
	a.bots-link.bots-link-vk(href="https://bot.mastervision.su/bot/public/link?t=a&i=75&s=vk", target="_blank") Вконтакте
	a.bots-link.bots-link-tg(href="https://bot.mastervision.su/bot/public/link?t=a&i=75&s=tg", target="_blank") Telegram
	a.bots-link.bots-link-wa.hide(href="", target="_blank") WhatsApp
	a.bots-link.bots-link-ok(href="https://bot.mastervision.su/bot/public/link?s=ok", target="_blank") Одноклассники