section#for
	.container
		+gt('','Этот мастер-класс для тех, кто:')
		.row
			.col-md-6.col-sm-6
				ul.for-list
					li - Не хочет тратить драгоценное время на поиски «волшебной» таблетки, которая, увы, не работает;
					li - Хочет понять причины своих заболеваний, разобраться в себе и понять,  как жить дальше;
					li - Занимается самопознанием – все эти знания легко применять в повседневной жизни;
					li - Психотерапевтам, психологам, которые хотят получить новые инструменты для работы и начать ринимать клиентов с психосоматическими запросами;
					li - Уже давно работает в сфере психосоматики, но страдает от недостатка практических и теоретических знаний;
			.col-md-6.col-sm-6
				ul.for-list
					li - Хочет обрести спокойствие и научиться помогать людям избавляться от болезней даже без медицинского образования и опыта работы с заболеваниями;
					li - Давно ищет курс, который будет включать максимально полную методику исцеления проблем на всех уровнях;
					li - Ищет дополнительные знания и структурную систему по работе с людьми не только в плане решения проблем, но и исцеления заболеваний;
					li - Больше не собирается мириться с неинтересной работой;
					li - Мечтает освоить новую специальность, найти новое дело и повысить свой уровень дохода;
		ul.for-list
			li - Планирует учиться на психолога или освоить другую специальность по работе с психосоматикой болезней
		+b('','Записаться')