mixin reas(cl,h4,p)
	.reason(class=cl)
		h4.reason-title='- 0'+h4
		p.reason-text=p

section#reasons
	.container
		+gt('','5 причин прийти на мастер-класс')
		.row
			.col-md-4.col-sm-4
				+reas('reason-1','1','Этот мастер-класс станет отправной точкой для позитивных изменений в Вашей жизни')
				+reas('reason-2','2','Это мощный мотивационный импульс для победы над болезнями, от которых Вы давно страдаете')
				+reas('reason-3','3','Занятия объединяют все имеющиеся знания о современной психосоматике')
			.col-md-4.col-sm-4
				img.reasons-img(src="img/images/reasons-img.png", alt="5 причин прийти на мастер-класс")
			.col-md-4.col-sm-4
				+reas('reason-4','4','В бесплатном формате тренер презентует всю вводную часть основного платного курса, чтобы на тренинг Вы смогли прийти максимально подготовленным и сразу включиться в работу')
				+reas('reason-5','5','Вся информация – от азов до сложных понятий – изложена доступным языком для понимания широкой аудитории')
		+b('','Измениться сейчас')