section#plan
	.container
		+gt('','План мастер-класса')
		.row
			.col-md-4.col-sm-4
				.day
					h4.day-title День 1
						span Базовые основы психосоматики
					ol.day-list
						li Что такое специальная биологическая программа. Причины реакций и поведения человека на уровне тела, мозга и психики
						li Как понять, о чём говорят симптомы тела
						li Как ускорить выздоровление
						li Практика: простейшие техники выздоровления
					p.day-bonus Бонус: простейшие техники выздоровления – 
						span демосессия, направленная на поиск события, запустившего болезнь в теле. Данную технику используют в гештальт-терапии для исцеления травмы. Исцеляя первичную точку запуска биологической программы, вспоминая событие, можно исцелить тело от болезни
			.col-md-4.col-sm-4
				.day
					h4.day-title День 2
						span Микробы враги нам или…?
					ol.day-list
						li Как избавиться от страха и негативных мыслей
						li Как понять, почему растут раковые опухоли
						li Как протекают болезни в нашем организме, в какой момент начинают работать  микробы
						li Практика: работа со страхом. Деморазбор клиентской истории (расширенный вариант)
					p.day-bonus Бонус: техника «Точка отсчета» - 
						span демосессия, направленная на поиск события, которое запустило болезнь в теле. Данную технику используют в гештальт-терапии для исцеления травмы. Исцеляя первичную точку запуска биологической программы, вспоминая событие, можно исцелить тело от болезни
			.col-md-4.col-sm-4
				.day
					h4.day-title День 3
						span 5 биологических законов ГНМ
					ol.day-list
						li Как влияют на заболевания конфликтные ситуации, когда человек хочет получить что-то очень важное для жизни
						li Как избегать негативных событий и опасных ситуаций
						li Что такое зависшее выздоровление и как его выявить
						li Практика: простейшая техника балансировки чувств
					p.day-bonus Бонус: техника «Ресурс с тобой» - 
						span демосессия, направленная на поиск места безопасности, состояния, в котором тело отключает все зажимы, погружается в ресурс для ускорения исцеления. Обеспечивая подсознанию спокойствие, тело получает нужный ресурс для исцеления
		+b('','Записаться на трехдневку')