mixin li(cl,span,p)
	.lets-item(class=cl)
		p.lets-item-text
			span=span
			=p

section#lets
	.container
		+gt('','Мастер-класс позволит вам')
		.row
			.col-md-4.col-sm-4
				+li('lets-item-1','Окунуться в мир','собственного устройства и понять принципы, на которых основаны процессы, происходящие в организме')
				+li('lets-item-2','Познакомиться с базовыми','понятиями Новой германской медицины, основанной в начале 80-х годов, а также биологическими законами природы')
				+li('lets-item-3','Понять, что нужно','делать, чтобы организм стал выздоравливать')
				+li('lets-item-4','Увидеть,','как связаны психика и тело')
			.col-md-4.col-sm-4
				img.lets-img(src="img/images/lets-img.png", alt="Мастер-класс позволит вам")
			.col-md-4.col-sm-4
				+li('lets-item-5','Узнают, как возникает','заболевание и понять механизм появления симптома в теле')
				+li('lets-item-6','Получить','пошаговый план работы с болезнями')
				+li('lets-item-7','Разобраться,','что скрывается под страшным словом «болезнь»')
				+li('lets-item-8','Перестать бояться','симптомов, которые  в современном мире называют болезнями')
				+li('lets-item-9','Обрести','долгожданное  спокойствие за своё здоровье')
		+b('button-lets','Записаться')