section#author
	.container
		+gt('','О тренере')
		.row
			.col-md-5.col-sm-5.col-md-push-7.col-sm-push-7
				.author-img
			.col-md-7.col-sm-7.col-md-pull-5.col-sm-pull-5
				h4.author-title.autor-title-1 Татьяна Рожкова
				ul.author-list
					li - Практический  психолог, коуч, тренер обучающих программ
					li - Процессор техник РПТ, субклеточной психобиологии
					li - Терапевт метафизики – технологии мгновенного исцеления (школа Г. Макфетридж), психосоматики и новой германской медицины. МАК-терапевт
					li - Специалист по системным расстановкам (Академия Master Vision)
					li - Специалист по регрессивному гипнозу
				h4.author-title.author-title-2 Путь становления мастера
				p.author-text В детстве я очень часто болела простудами и различными функциональными расстройствами. Ни один врач не мог объяснить, откуда у такого маленького ребёнка столько «болячек». Апогеем моих страданий стала катастрофическая ситуация с грудью: врачи решили, что лучше её удалить
				p.author-text Для меня этот вариант был неприемлем настолько, что я решила действовать самостоятельно и найти другой выход – понять истинную причину случившегося. Может, поэтому я и выбрала после окончания школы профессию врача, чтобы уметь самой разбираться в причинах возникновения заболеваний
				p.author-text Мне казалось, что если я найду тот «волшебный ключ» и вылечу своё заболевание, то смогу излечить и  других. Позже к моим изысканиями добавились наблюдения за взаимосвязью между переживаниями, эмоциональными конфликтами и заболеваниями, и я поступила в институт «на психолога»