.modal.fade(tabindex="-1" role="dialog")#Modal
	.modal-dialog(role="document")
		.modal-content.mail-modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				.modal-body
					.modal-col
						h3.modal-main-title Биология сознания
						p.modal-pre Бесплатный 
							br
							| онлайн-мастер-класс
						p.modal-main-info-text Даты проведения: 
							span с 26 по 28 марта, 19:00 (Мск)
						p.modal-main-info-text Автор курса: 
							span Татьяна Рожкова
					.modal-col
						//- h3.modal-title Мастер-класс завершен!
						h3.modal-title.switch-title Регистрируйтесь прямо сейчас!
						p.switch-text.hide
						form(action="https://shop.mastervision.su/?r=personal/newsletter/sub/add&id=3568&lg=ru&Contact[id_newsletter]=1191" method="post" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8" ).form.form-modal
							.email-block.email-block-modal
								input( type="hidden" value="1" name="required_fields[email]")
								input(class="input input-mail input-mail-modal" name="Contact[email]" type="text" placeholder="Ваш email")
							button(type="submit").button.button-form.button-modal Записаться
							.clearfix
							p.alert-message
							.checking.checking-modal
								input(type="checkbox" id="check-3" checked).check
								label(for="check-3").check-label Я согласен с 
									a(href="javascript:void(0);")(data-toggle="modal" data-target="#myPolitics")  условиями обработки
									|  персональных данных по 152 - Ф3
							div(style="display: none;")
								#formTypeSpecificVars2(style="display: none;")
									input(type="hidden" value="1191" id="form_newsletter_id_newsletter-2" name="Contact[id_newsletter]")
								<!-- API код канала рекламы -->
								input(type="hidden" value="0" id="form_newsletter_id_advertising_channel_page-2" name="Contact[id_advertising_channel_page]")
								input(type="hidden" name="formId" value="329")
								input(type="hidden" name="formVc" value="556780783")