section#main
	.container
		include ../0.header.pug
		h1.main-title
			small обучающий курс
			=head_title
		p.main-info Старт курса: 
			span NN месяца, в 19:00(мск)
		p.main-info Автор курса: 
			span Татьяна Рожкова
		+b('button-main','#prices','Записаться')