section#about
	.container
		p.about-text
			span Курс представляет собой собрание самых эффективных, практических методик, основанных на базе ГНМ. 
			| Они позволят не только прорабатывать свои недуги, но и проявлять большую результативность при работе с клиентами. После окончания классических курсов по психосоматике специалисты обладают знаниями, но им не хватает понимания, что на самом деле происходит с органом, как ведут себя органы в зависимости от запуска в теле той или иной биологической программы. Они владеют только поверхностными знаниями и ничего не умеют. После этого курса они смогут работать с абсолютно любым симптомом заболевания, так как получат понятные и эффективные инструменты для жизни и профессиональной деятельности. Тренер даст базу знаний, включающую максимально полную информацию об устройстве человека, а также о том, что мы обычно называем заболеваниями. Этот курс для тех, кто хочет научиться понимать, что происходит в организме на самом деле