section#advantages
	.container
		+gt('','Преимущества курса')
		.row
			.col-md-4.col-sm-4
				.advantage-item.advantage-item-1
					p.advantage-text Тренер преподносит информацию максимально понятным языком – от азов до сложных понятий
			.col-md-4.col-sm-4
				.advantage-item.advantage-item-2
					p.advantage-text Знания рассчитаны как на простых людей, далёких от медицинских терминов, так и на тех, кто уже работает с психосоматикой и знаком с основами ГНМ
			.col-md-4.col-sm-4
				.advantage-item.advantage-item-3
					p.advantage-text Тренинги дадут вам полное понимание тонкости протекания биологических программ в  организме
		.row
			.col-md-4.col-sm-4
				.advantage-item.advantage-item-4
					p.advantage-text Появление любого симптома в теле будет вызывать не панику, а интерес исследователя
			.col-md-4.col-sm-4
				.advantage-item.advantage-item-5
					p.advantage-text Вы перестанете тратить деньги на бесконечные анализы и лекарства, зависеть от мнения врачей и поймёте, что врач лечит от симптомов, не устраняя первопричину их возникновения
			.col-md-4.col-sm-4
				.advantage-item.advantage-item-6
					p.advantage-text Вы научитесь ликвидировать первопричину болезни, а также управлять собственным организмом и, как следствие, своей реальностью
		.row
			.col-md-4.col-sm-4.col-md-offset-4.col-sm-offset-4
				.advantage-item.advantage-item-7
					p.advantage-text Уникальные знания избавят от страха за своё здоровье и самочувствие
		+b('button-advantages','#prices','Записаться')