section#modules
	.container
		+gt('','Модули курса')
		.module.module-1
			h4.module-title 1 модуль 
			h5.module-subtitle Основы новой системной психосоматики по работе с биологией сознания
				small 9 занятий + 3 занятия с ответами на вопросы
			ul.module-list
				li
					span 1 занятие. 
					| Знакомство с психосоматикой. Почему болеет тело
				li
					span 2 занятие. 
					| 5 биологических законов природы
				li
					span 3 занятие. 
					| Первый биологический закон
				li
					span 4 занятие. 
					| Второй биологический закон
				li
					span 5 занятие. 
					| Третий биологический закон
				li
					span 6 занятие. 
					| Четвёртый биологический закон
				li
					span 7 занятие. 
					| Пятый биологический закон
				li
					span 8 занятие. 
					| Зародышевые слои. Энтодерма. Функции. Органы. Основные активации (психологические конфликты)
				li
					span 9 занятие. 
					| Свойства энтодермы. Что такое синдром
		.module.module-2
			h4.module-title 2 модуль 
			h5.module-subtitle Навыки  по работе с травматическим опытом
				small ВСЁ, что входит в первый модуль + ещё 12 занятий + ещё 4 занятия с ответами на вопросы
			ul.module-list
				li
					span 1 занятие. 
					| Энтодерма. Правила протекания биологических программ в органах пищеварения, лёгких, щитовидной  железе, печени. Собирательные трубочки почек
				li
					span 2 занятие. 
					| Биологическая латеральность. Старая мезодерма. Правила протекания биологических программ в защитных оболочках нашего тела. Их функции. Дерма кожи, меланома, конфликты для молочной железы. Основные активации (психологические конфликты)
				li
					span 3 занятие. 
					| Новая мезодерма. Правила протекания биологических программ. Функции. Органы. Основные активации (психологические конфликты)
				li
					span 4 занятие. 
					| Новая мезодерма.  Правила протекания биологических программ в костях, мышцах, связках, суставах. Заболевания позвоночника, заболевания крови, эмбриональные ткани (основные активации и психологические конфликты)
				li
					span 5 занятие. 
					| Новая мезодерма. Правила протекания биологических программ. Сердце. Его функции. Метафорическая анатомия. Основные активации (психологические конфликты)
				li
					span 6 занятие. 
					| Эктодерма. Правила протекания биологических программ в коже. Схемы кожи. Симптоматика для эпидермиса. Как развиваются заболевания кожи и слизистых (основные активации и психологические конфликты)
				li
					span 7 занятие. 
					| Эктодерма. Схемы кожи. Симптоматика для сосудов, слизистых носа, глотки, слёзных и млечных протоков (основные активации, психологические конфликты)
				li
					span 8 занятие. 
					| Эктодерма и её функции. Почему нас “укачивает”. Конфликты надкостницы (онемение пальцев рук, ног), боли в шее, головные боли
				li
					span 9 занятие. 
					| Двигательные дисфункции и функции. Тики, эпилепсия, двигательные конфликты
				li
					span 10 занятие. 
					| Территориальные зоны коры мозга. Диабет
				li
					span 11 занятие. 
					| Вирусные заболевания. Аллергии. Экземы и другое
				li
					span 12 занятие. 
					| Программы, из которых сложно “выйти”
		.module.module-3
			h4.module-title 3 модуль 
			h5.module-subtitle Работа с заболеваниями. Навыки по работе с психосоматикой заболеваний через психосоматический подход в контексте ГНМ
				small ВСЁ, что входит в первый и второй модули + ещё 15 занятий + ещё 5 занятий с ответами на вопросы
			ul.module-list
				li
					span 1 занятие. 
					| Принципы терапии психосоматики. Травматическое переживание
				li
					span 2 занятие. 
					| Основы и техники  работы с заболеванием с помощью гипнотерапии. Регрессивная шкала
				li
					span 3 занятие. 
					| Работа с метафорическим образом
				li
					span 4 занятие. 
					| Работа с безопасностью клиента
				li
					span 5 занятие. 
					| Работа для быстрого выявления вторичной выгоды
				li
					span 6 занятие. 
					| Работа с поиском истории клиента. Работа с циклами
				li
					span 7 занятие. 
					| Триединый ум. Техника работы с телесными реакциями
				li
					span 8 занятие. 
					| Работа с травматическими переживаниями различного характера
				li
					span 9 занятие. 
					| Работа с регрессивной шкалой
				li
					span 10 занятие. 
					| Состояние терапевта
				li
					span 11 занятие. 
					| Работа с телесными зажимами и блоками
				li
					span 12 занятие. 
					| Работа со страхами и фобиями
				li
					span 13 занятие. 
					| Работа с паническими атаками
				li
					span 14 занятие. 
					| Женская психосоматика
				li
					span 15 занятие. 
					| Работа с биологическими программами, запускающими изменения в тканях молочных желез
		+b('','#prices','Записаться')