section#lets
	.container
		+gt('','Курс позволит вам:')
		.row
			.col-md-4.col-sm-4
				ul.lets-list
					li по-новому взглянуть на мир;
					li прочувствовать связь между телом и психикой;
					li понять, что происходит с вашим телом  и перестать бояться симптомов и диагнозов;
					li правильно реагировать в стрессовых ситуациях;
					li научиться быстро находить причину “запуска” болезни, определять её стадию и прогнозировать результат;
					li существенно повысить свой уровень профессионализма и пополнить свой багаж знаний новым пониманием устройства человека, получить инструменты и более эффективно решать задачи клиентов;
			.col-md-4.col-sm-4
				img(src="../img/images/reasons-img.png", alt="Курс позволит вам:")
			.col-md-4.col-sm-4
				ul.lets-list
					li получить знания и навыки, которые можно легко применять в повседневной жизни, а также в профессиональной практике;
					li стать специалистом Новейшей системной психосоматики, базирующейся на теории ГНМ, и использовать эти знания для работы с людьми;
					li получить сертификат, подтверждающий ваши знания и навыки;
					li превратить эту специальность в дополнительный или основной источник дохода;
					li начать зарабатывать от 100 до 300 тысяч рублей в месяц, даже не выходя из дома;