section#last
	.container
		h3.last-title НАЧНИ сейчас!
		h4.last-subtitle десятки тысяч учеников доверяют нам и реализуют свои цели!
		p.last-text хочу таких результатов
		+b('button-last','#prices','Записаться')